@import '../../variables';

.Button {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-weight: 600;
  border: 3px solid black;
  cursor: pointer;

  &-transparent {
    background-color: transparent;
    border-color: white;
    color: white;
  }

  &-white {
    background-color: white;
    border-color: $primary-color;
    color: black;
  }

  &-official {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
  }
}
